body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: white;
    height: 100%;
    width: 100%;
    
}

img {
    position: absolute;
    top: -47px;
    left: 75px;
}

li {
    display: inline;
    padding: 6px;
}

ul {
    display: inline;
    padding: 10px;
}

.search_box {
    height: 44px;
    width: 470px;
    border: 1px solid #d6d6d6;
    position: absolute;
    left: -33px;
    top: 79px;
    box-shadow: 0.1px 0.9px 7px 0px #c8c8c8;
}

.search_box:active, .search_box:hover {
    box-shadow: 0.1px 0.9px 7px 1px #c8c8c8;
}
/*not sure if this does anything*/
.search_box input {
    height: 44px;
    width: 400px;
    
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    width: auto;
    height: auto;
    position: absolute;
    top: 245px;
    left: 39em;
    right: 0;
    margin-left: auto;
    margin-right: auto; 
}

.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 95%;
    background: #f2f2f2;
}

.buttons {
    position: absolute;
    top: 154px;
    left: 77px;
}

li:hover {
    text-decoration: underline;
}

input.button {
    border: none;
    background: #f1f1f1;
    color: #757575;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    margin-right: 20px;
}

input.button:hover {
    /* border: 1px solid black; */
    color: black;
    background: #f1f1f1;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
