/* TODO: Fix overflow
        Move footer elements down
        Possible: Make a grid in CSS */


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: white;
    height: 100%;
    width: 100%;
    
}


img {
    position: absolute;
    top: -47px;
    left: 75px;
}

li {
    display: inline;
    padding: 6px;
}

ul {
    display: inline;
}

.search_box {
    height: 44px;
    width: 428px;
    border: 1px solid #d6d6d6;
    position: absolute;
    top: 79px;

}
/*not sure if this does anything*/
.search_box input {
    height: 44px;
    width: 400px;
    
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    width: auto;
    height: auto;
    position: absolute;
    top: 245px;
    left: 34em;
    right: 0;
    margin-left: auto;
    margin-right: auto; 
}

.footer {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 100%;
}

.header {
    position: absolute; 
}

.buttons {
    position: absolute;
    top: 154px;
    left: 100px;
}

li:hover {
    text-decoration: underline;
}
